/* table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
} */
html,
body {
  height: 100%;
  width: 100%;
}
table {
  width: 100%;
}
.container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
