<mat-card>
  <mat-card-title>Reset Password Form</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="submit()" #f="ngForm">
      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            ngModel
            name="password"
            required
            minlength="8"
            #password="ngModel"
            />

        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Repeat Password"
            ngModel
            name="passwordRepeat"
            required
            />

        </mat-form-field>
      </p>

      <p *ngIf="!password.valid && password.touched || showError()" class="error">{{ showError() }}</p>

      <div class="button">
        <button mat-button type="submit" [disabled]="f.status === 'INVALID'">Reset password</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
