<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/users">Users</a>
    <span class="example-spacer"></span>
    <div class="navbar-right">
      <span *ngIf="isLoggedIn()">
        Hello {{getUsername()}}
        <a routerLink="/profile">
          <mat-icon aria-label="User Account">account_circle</mat-icon>
        </a>
        <a (click)="logout()"><mat-icon>logout</mat-icon></a>
      </span>
      <span *ngIf="!isLoggedIn()">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
